html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-image: url("../imgs/index_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#pc-warn {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-top: 20vh;
  text-align: center;
  background-color: #fff;
}
#pc-warn .img1 {
  display: block;
  width: 200px;
  margin: 0 auto 5vh;
}
#pc-warn p {
  font-size: 24px;
}
@-webkit-keyframes rotate {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.deer {
  position: absolute;
  top: 25vh;
  left: 40vw;
  width: 20vw;
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}
.slide-tip {
  position: absolute;
  top: 54vh;
  right: 4vw;
  width: 8vw;
  -webkit-animation: scaleTip 2s linear infinite alternate;
  animation: scaleTip 2s linear infinite alternate;
}
@-webkit-keyframes scaleTip {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
  }
}
.share-text {
  position: relative;
  width: 30vw;
  top: 12vh;
  margin: 0 auto;
}
.share-text .text-cn {
  height: 37vh;
}
.share-text .text-en {
  position: absolute;
  top: 13vh;
  left: -13vw;
  width: 54vw;
}
.foreword-top {
  position: absolute;
  bottom: 49vh;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.foreword {
  position: absolute;
  width: 100%;
  height: .3rem;
  opacity: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.line-1 {
  top: 1rem;
  background-image: url("../imgs/index_text_1.png");
}
.line-2 {
  top: 1.4rem;
  width: 75%;
  left: 6vw;
  background-image: url("../imgs/index_text_2.png");
}
.line-3 {
  top: 1.9rem;
  width: 92%;
  left: 3vw;
  background-image: url("../imgs/index_text_3.png");
}
