html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../imgs/curtain_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
p {
  color: #4f4f4f;
  font-size: .16rem;
  line-height: .24rem;
}
#pc-warn {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-top: 20vh;
  text-align: center;
  background-color: #fff;
}
#pc-warn .img1 {
  display: block;
  width: 200px;
  margin: 0 auto 5vh;
}
#pc-warn p {
  font-size: 24px;
}
.download-button {
  width: 2rem;
  height: .36rem;
  margin: 0 auto;
  line-height: .36rem;
  border-radius: .18rem;
  text-align: center;
  color: #fff;
  box-shadow: 0 0.04rem 0.16rem 0 #07aefc;
  background: linear-gradient(to right bottom, #5EA2FF, #00E3FF);
}
.buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 26vh;
}
.buttons #share-button {
  position: relative;
  width: 2rem;
  height: .36rem;
  margin: 0 auto;
  line-height: .36rem;
  border-radius: .18rem;
  text-align: center;
  color: #fff;
  box-shadow: 0 0.04rem 0.16rem 0 #07aefc;
  background: linear-gradient(to right bottom, #5EA2FF, #00E3FF);
}
.buttons #share-button #tip {
  display: none;
  position: absolute;
  width: 63vw;
  bottom: 7vh;
  left: -6vw;
}
.footer-left {
  position: absolute;
  left: .9rem;
  bottom: .2rem;
  display: inline-block;
  width: 50%;
  height: .2rem;
  background-image: url("../imgs/share_page_footer.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-right {
  position: absolute;
  right: .4rem;
  bottom: .22rem;
  font-weight: 100;
  color: #fff;
  font-size: .12rem;
}
.modal {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .share-tip-container {
  position: absolute;
  top: .16rem;
  right: .16rem;
  z-index: 2;
  width: .36rem;
  height: 1.6rem;
  background-color: #fff;
  border-radius: 8px;
}
.modal .share-tip-container .pointer-icon {
  display: inline-block;
  margin: .1rem 0;
  width: .14rem;
  height: .14rem;
}
.modal .share-tip-container .share-tip {
  width: .14rem;
  font-size: .14rem;
  color: #07aefc;
  line-height: .19rem;
  margin: 0 auto;
}
.modal .share-tip-container::after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid transparent;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 5px;
  left: 50%;
  margin-left: -5px;
  bottom: 99.5%;
}
